<?xml version="1.0"?>
<launch>
<!--	<rosparam file="$(find mmtbot_calibration)/calibration/config.yml"-->
<!--			  command="load"/>-->
	<node pkg="rviz"
		  type="rviz"
		  name="rviz"
		  args="--display-config $(find atom_rviz_plugin)/rviz/panel_plugin.rviz"
		  required="false"
		  output="screen"/>
</launch>